@using AdsListing.Models
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @{
                var database = new AdsListingDbContext();

                var categories = database.Categories.ToList();
                var locations = database.Locations.ToList();
            }
            
            @if (categories.Count == 0)
            {
                if (@User.IsInRole("Admin"))
                {
                    <li>
                        @Html.ActionLink("Create a category", "Create", "Category", null, new { @class = "btn btn-danger" })
                    </li>   
                }

            }
            else if (locations.Count == 0)
            {
                if (User.IsInRole("Admin"))
                 {
                     <li>
                         @Html.ActionLink("Create a Location", "Create", "Location", null, new { @class = "btn btn-danger" })
                     </li>
                     
                }

            }
            else
            {
                <li>
                    @Html.ActionLink("Post NEW Ad", "Create", "Ad", null, new { @class = "btn btn-warning" })
                </li>
            }
           
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@User.Identity.GetUserName()<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>

            
            
            @if (User.IsInRole("Admin"))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Ads", "AdminList", "Ad")</li>
                        <li>@Html.ActionLink("Users", "List", "User")</li>
                        <li>@Html.ActionLink("Categories", "List", "Category")</li>
                        <li>@Html.ActionLink("Locations", "List", "Location")</li>
                    </ul>
                </li>
            }

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>   
}
