@model AdsListing.Models.Ad

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Description
        </p>

            @foreach (var photo in Model.Photos)
            {
                <img src="@photo.ThumbPath" alt="Alternate Text" />
            }
   
        <small class="author">
            --author @Model.Author.Email
        </small>
        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Ad", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Ad", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }            
            @Html.ActionLink("Back", "Index", "Ad", null, new {@class = "btn btn-default btn-xs"})
        </footer>
    </article>
</div>
<hr />
