@model AdsListing.Models.AdViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="well">
        <h2>Edit Ad</h2>
        @using (Html.BeginForm("Edit", "Ad", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.AuthorId)

            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "7" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Price, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Categories, new { @class = "control-label col-sm-4" })
                <div class="dropdown col-sm-4">
                    @Html.DropDownListFor(m => m.CategoryId,
                        new SelectList(Model.Categories, "Id", "Name", Model.CategoryId),
                        new { @class = "btn btn-info col-sm-12" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LocationId, new { @class = "control-label col-sm-4" })
                <div class="dropdown col-sm-4">
                    @Html.DropDownListFor(m => m.LocationId,
                        new SelectList(Model.Locations, "Id", "Name", Model.LocationId),
                        new { @class = "btn btn-info col-sm-12" })
                </div>
            </div>

            if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Status, new { @class = "control-label col-sm-4" })
                    <div class="dropdown col-sm-4">
                        @Html.EnumDropDownListFor(m => m.Status, new { @class = "btn btn-warning col-sm-12" })
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.Label("images", "Images", new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBox("Images", null, new { multiple = "multiple", type = "file", @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @for (int i = 0; i < Model.Photos.Count; i++)
                {
                    <div class="col-sm-offset-4 col-sm-4">
                        <input type="checkbox" name="deleteInputs" value="@Model.Photos[i].Id" />
                        <img src="@Model.Photos[i].ThumbPath" alt="Alternate Text" />
                    </div>
                    <br />
                    <br />
                }
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-default" })
                    <input type="submit" value="Edit" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>