@using System.Web.Mvc.Html
@using AdsListing.Models
@model List<AdsListing.Models.Ad>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">

        <div class="col-sm-3">
            @Html.Partial("_ViewByCategory", new AdsListingDbContext().Categories.OrderBy(c => c.Name).ToList())
        </div>
        <div class="col-sm-9">
            @foreach (var ad in Model)
            {
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@ad.Title, "Details", "Ad", new { @id = ad.Id }, null)
                        </h2>
                    </header>
                    <p>
                        @ad.Description
                    </p>
                    <footer class="pull-right">
                        <small class="author">
                            --author @ad.Author.FullName
                        </small>
                    </footer>
                </article>
            }
        </div>
    </div>
</div>  
